@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@400;600;700&display=swap');
@import '_buttonBlack.scss';
@import '_buttonWhite.scss';

$primary: #000000;
$secondary: #FFBA60;
$fontRaleway: 'Raleway', sans-serif;
$fontAbril: 'Abril Fatface', cursive;

*{
    margin: 0;
    overflow-x: hidden;
}

#he-header{
    margin: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    #he-div01{
        display: flex;
        justify-content: space-between;
        width: 90%;

        nav{
            
            height: 32px;
            width: 397px;
            display: flex;
            justify-content: space-between;
            
            
            a{
                font-family: $fontRaleway;
                color: $primary;
                text-decoration: none;
                font-weight: 700;
                font-size: 16px;
                
            }
            
            
        }
    }
    #he-cart{
        height: 37px;
        width: 47px;
    }
    

}
#he-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    

    span{
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 12px;
        color: #858585;
        
    }
    h1{
        margin-top: 0;
        font-family: $fontAbril;
        font-weight: 400;
        font-size: 56px;

    }
    #he-botonera{
        display: flex;
        justify-content: space-between;
        height: 32px;
        width: 274px;

        button{
            width: 45%;
        }
    }
    #he-section01{
        display: flex;
        
        width: 100vw;
        justify-content: space-between;
        margin-right: 60px;

       #he-div02{
           display: flex;
           width: 90%;
           justify-content: center;
       }
        #he-aside01{
            right: 0;
            width: 34px;
            display: flex;
            flex-direction: column-reverse;
            gap: 24px;
            padding-bottom: 4rem;
            
        }
    }
    
}
@media (max-width: 768px){
    #he-header{
        margin: 10px;
        width: 90vw;
        
        
        
        
        #he-div01{
            
            
    
            nav{
                
                display: none;
                
                
                
                
                
            }
        }
        #he-cart{
            height: 37px;
            width: 47px;
            
        }
        
    
    }
    #he-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        
    
        span{
            font-family: $fontRaleway;
            font-weight: 400;
            font-size: 14px;
            color: #858585;
            
        }
        h1{
            margin-top: 1rem;
            font-family: $fontAbril;
            font-weight: 400;
            font-size: 32px;
    
        }
        #he-botonera{
            display: flex;
            justify-content: space-between;
            height: 32px;
            width: 274px;
            margin-top: 1rem;
    
            button{
                width: 45%;
            }
        }
        #he-section01{
            margin-right: 0;
            
            #he-div02{
                margin-top: 4rem;
            }
            #he-img01{
                width: 90vw;
                
            }
            
    
            
            #he-aside01{
                display: none;
                
            }
        }


        }
    }

#contenedor-video{
    margin: 2rem;
    display: flex;
    align-items: center;

    #he-seccion-precio{
        width: 50vw;


        p{
            width: 80%;
            text-align: justify;
        }
    }
    #he-divpiano{
        width: 50vw;
    }
}