@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=M+PLUS+1+Code:wght@500&family=Raleway:ital,wght@1,700&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=M+PLUS+1+Code:wght@500&family=Raleway:ital,wght@1,700&family=Roboto:wght@300&display=swap");
.btn {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.btn:hover {
  background-color: #3F3F3F;
}

.btn:active {
  background-color: #000000;
}

.btn-white {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  border: .1px solid  black;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.btn-white:hover {
  background-color: #3F3F3F;
}

.btn-white:active {
  background-color: #FFFFFF;
}

* {
  margin: 0;
  overflow-x: hidden;
}

#he-header {
  margin: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#he-header #he-div01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

#he-header #he-div01 nav {
  height: 32px;
  width: 397px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#he-header #he-div01 nav a {
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

#he-header #he-cart {
  height: 37px;
  width: 47px;
}

#he-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

#he-main span {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #858585;
}

#he-main h1 {
  margin-top: 0;
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  font-size: 56px;
}

#he-main #he-botonera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 32px;
  width: 274px;
}

#he-main #he-botonera button {
  width: 45%;
}

#he-main #he-section01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 60px;
}

#he-main #he-section01 #he-div02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#he-main #he-section01 #he-aside01 {
  right: 0;
  width: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 24px;
  padding-bottom: 4rem;
}

@media (max-width: 768px) {
  #he-header {
    margin: 10px;
    width: 90vw;
  }
  #he-header #he-div01 nav {
    display: none;
  }
  #he-header #he-cart {
    height: 37px;
    width: 47px;
  }
  #he-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3rem;
  }
  #he-main span {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #858585;
  }
  #he-main h1 {
    margin-top: 1rem;
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    font-size: 32px;
  }
  #he-main #he-botonera {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 32px;
    width: 274px;
    margin-top: 1rem;
  }
  #he-main #he-botonera button {
    width: 45%;
  }
  #he-main #he-section01 {
    margin-right: 0;
  }
  #he-main #he-section01 #he-div02 {
    margin-top: 4rem;
  }
  #he-main #he-section01 #he-img01 {
    width: 90vw;
  }
  #he-main #he-section01 #he-aside01 {
    display: none;
  }
}

#contenedor-seccion2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

#contenedor-seccion2 #contenedor-video {
  position: absolute;
  width: inherit;
  max-height: inherit;
}

#contenedor-seccion2 #contenedor-video video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 600px;
}

#contenedor-seccion2 #contenedor-fondo {
  position: absolute;
  height: 132%;
  max-height: 600px;
  width: 110%;
  -o-object-fit: cover;
     object-fit: cover;
  background: black;
  z-index: 1;
  opacity: .8;
}

#contenedor-seccion2 #contenedor-informacion {
  margin: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  z-index: 2;
}

#contenedor-seccion2 #contenedor-informacion #he-seccion-precio {
  width: 50%;
}

#contenedor-seccion2 #contenedor-informacion #he-seccion-precio h3 {
  font-family: "Abril Fatface", cursive;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 1rem;
}

#contenedor-seccion2 #contenedor-informacion #he-seccion-precio span {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  margin-right: 1rem;
}

#contenedor-seccion2 #contenedor-informacion #he-seccion-precio img {
  margin-right: 0.5rem;
}

#contenedor-seccion2 #contenedor-informacion #he-seccion-precio h2 {
  margin-top: 1.5rem;
  font-family: "Abril Fatface", cursive;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 1rem;
}

#contenedor-seccion2 #contenedor-informacion #he-seccion-precio p {
  width: 80%;
  text-align: justify;
  margin-top: 1.5rem;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 1rem;
}

#contenedor-seccion2 #contenedor-informacion #he-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.5rem;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 1rem;
}

#contenedor-seccion2 #contenedor-informacion .btn {
  width: 60%;
  height: 32px;
}

#contenedor-seccion2 #contenedor-informacion #he-divpiano img {
  height: 90vh;
  width: 90vh;
}
/*# sourceMappingURL=he-style.css.map */